.shapka{
width: 1100px;
height: 80px;
background: rgb(49, 47, 47);
position: absolute;
display: block;

}
.naz{
    font-size: 30px;
    color: white;
    padding: 0px 50px;


}
.menu{
    display:inline;
    padding:30px;
}
a{
    text-decoration: none;
}
.navig{
    position: absolute;
    bottom: 20px;
    right: 100px;
    
}
.text1{
    color: rgb(1,101,252);
}
.text{
    color: white;
}
.content{
margin-left: 48px;
    font-size: 30px;
    color:black;
    font-weight:bold;
    line-height:1;
}
.span1{
    color: rgb(1,101,252);
}
.content2{
    margin-left: 48px;
    font-size: 30px;
    color:rgb(105, 105, 105);
    line-height:0;
}
.text2{
    width: 912px;
    height: 100px;
    font-size: 25px;
    border: dotted 3px grey;
    border-left-width: 0px;
    border-right-width: 0px;
    margin-left: 48px;
    letter-spacing:2px;
}
.forma{
    display: inline;
}
.forma1{
    margin-top: 30px;
    margin-left: 48px;
    width: 270px;
    height: 340px;
    background: rgb(1,101,252);
    display: inline-block;
}
.web{
    text-align: center;
    color: white;
    font-size: 25px;
    padding-top: 10px;
}
.webText{
    text-align: center;
    color: white;
    font-size: 17px;
}
.bord1{
    position: relative;
    width: 200px;
    height: 5px;
    border:dotted 3px white;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom: 0px;
    margin-left: 23px;
}
.form-button1{
    position: relative;
    text-align: center;
    margin: 200px 43px;
    background: rgb(4, 34, 80);
    color: white;
}


.forma2{
    margin-top: 30px;
    margin-left: 48px;
    width: 270px;
    height: 340px;
    background: rgb(1,101,252);
    display: inline-block;
}
.bord2{
    position: relative;
    width: 200px;
    height: 5px;
    border:dotted 3px white;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom: 0px;
    margin-left: 23px;
}
.form-button2{
    position: relative;
    text-align: center;
    margin: 200px 43px;
    background: rgb(4, 34, 80);
    color: white;
}


.forma3{
    margin-top: 30px;
    margin-left: 48px;
    width: 270px;
    height: 340px;
    background: rgb(1,101,252);
    display: inline-block;
}
.bord3{
    position: relative;
    width: 200px;
    height: 5px;
    border:dotted 3px white;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom: 0px;
    margin-left: 23px;
}
.form-button3{
    position: relative;
    text-align: center;
    margin: 200px 45px;
    background: rgb(4, 34, 80);
    color: white;
    width:190px;
    height:25px;
}

.aboutUs{
    width: 912px;
    height: 450px;
    border: dotted 3px grey;
    margin-left: 48px;
    margin-top: 30px;
    border-left-width: 0px;
    border-right-width: 0px;

}
.client{
    font-size: 20px;

}
.per{
position: relative;
left: 10px;
margin: 5px;
}

.rightStorona{
    position: relative;
    margin-left: 512px;
    bottom: 422px;

}
.prob{
position: relative;
padding:7px;
}
.colorNiz{
    color: rgb(1,101,252);
}
.footer{
    margin-left: 48px;
    color: grey;
    font-size: 15px;
}
.polosa{
    width: 15px;
    height: 400px;
    border:dotted 3px gray;
    border-right-width: 0px;
    border-top-width: 0px;
    border-bottom-width: 0px;
    position: relative;
    bottom: 420px;
    right: 20px;
}